{% extends 'common.html' %}
{% block content %}
<div class="container">
     <div class="row">
          <div class="col-12">
               <h2>
                    Addition : - {{add}}
               </h2>
               <h2>
                    Subtraction : - {{sub}}
               </h2>
               <h2>
                    Division : - {{division}}
               </h2>
               <h2>
                    Multiplication : - {{multi}}
               </h2>
          </div>
     </div>
</div>
{% endblock %}