{% extends 'template.html' %}
{% block content %}
<section class="mb-lg-14 mb-8 mt-8">
     <div class="container">
          <!-- row -->
          <div class="row">
               <div class="col-12">
                    <!-- card -->
                    <div class="card py-1 border-0 mb-8">
                         <div>
                              <h1 class="fw-bold">Shop Cart</h1>
                              <p class="mb-0">Shopping in 382480</p>
                         </div>
                    </div>
               </div>
          </div>
          <!-- row -->
          <div class="row">
               <div class="col-lg-8 col-md-7">
                    <div class="py-3">
                         <!-- alert -->
                         <ul class="list-group list-group-flush">
                              <!-- list group -->
                              {% for value in cart_data %}
                              <li class="list-group-item py-3 ps-0 border-top">
                                   <!-- row -->
                                   <div class="row align-items-center">
                                        <div class="col-6 col-md-6 col-lg-7">
                                             <div class="d-flex">
                                                  <img src="/media/{{value.product_image}}" alt="Ecommerce"
                                                       class="icon-shape icon-xxl">
                                                  <div class="ms-3">
                                                       <!-- title -->
                                                       <a href="single_product.html" class="text-inherit">
                                                            <h6 class="mb-0">{{value.product_name}}</h6>
                                                       </a>
                                                       <!-- text -->
                                                       <div class="mt-2 small lh-1">
                                                            <a data-id="{{value.id}}"
                                                                 class="text-decoration-none text-inherit remove">
                                                                 <span class="me-1 align-text-bottom">
                                                                      <svg xmlns="http://www.w3.org/2000/svg" width="14"
                                                                           height="14" viewBox="0 0 24 24" fill="none"
                                                                           stroke="currentColor" stroke-width="2"
                                                                           stroke-linecap="round"
                                                                           stroke-linejoin="round"
                                                                           class="feather feather-trash-2 text-success">
                                                                           <polyline points="3 6 5 6 21 6">
                                                                           </polyline>
                                                                           <path
                                                                                d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2">
                                                                           </path>
                                                                           <line x1="10" y1="11" x2="10" y2="17"></line>
                                                                           <line x1="14" y1="11" x2="14" y2="17"></line>
                                                                      </svg>
                                                                 </span>
                                                                 <span class="text-muted">Remove</span>
                                                            </a>
                                                       </div>
                                                  </div>
                                             </div>
                                        </div>
                                        <!-- input group -->
                                        <div class="col-4 col-md-3 col-lg-3">
                                             <!-- input -->
                                             <!-- input -->
                                             <div class="input-group input-spinner">
                                                  <input type="button" value="-" class="minus_quantity btn btn-sm"
                                                       id="{{value.product_id}}">
                                                  <input type="text" step="1" min="1" value="{{value.quantity}}"
                                                       name="quantity" style="width: 75px !important;"
                                                       class="quantity-field form-control-sm form-input"
                                                       id="quantity{{value.product_id}}" data-price="{{value.price}}">
                                                  <input type="button" value="+" class="plus_quantity btn btn-sm"
                                                       id="{{value.product_id}}">
                                             </div>
                                        </div>
                                        <!-- price -->
                                        <div class="col-2 text-lg-end text-start text-md-end col-md-2">
                                             <span class="fw-bold">${{value.price}}</span>
                                        </div>
                                   </div>
                              </li>
                              {% endfor %}
                         </ul>
                         <!-- btn -->
                    </div>
               </div>

               <!-- sidebar -->
               <div class="col-12 col-lg-4 col-md-5">
                    <!-- card -->
                    <div class="mb-5 card mt-6">
                         <div class="card-body p-6">
                              <!-- heading -->
                              <h2 class="h5 mb-4">Summary</h2>
                              <div class="card mb-2">
                                   <!-- list group -->
                                   <ul class="list-group list-group-flush">
                                        <!-- list group item -->
                                        <li class="list-group-item d-flex justify-content-between align-items-start">
                                             <div class="me-auto">
                                                  <div class="fw-bold">Subtotal</div>
                                             </div>
                                             $
                                             <span class="fw-bold" id="subtotal">{{total}}</span>
                                        </li>
                                   </ul>
                              </div>
                              <div class="d-grid mb-1 mt-4">
                                   <!-- btn -->
                                   <span class="display_button">

                                   </span>
                                   <a href="/shop/checkout/{{total}}"
                                        class="btn btn-primary btn-lg d-flex justify-content-between align-items-center"
                                        type="submit">
                                        Go to Checkout
                                        <!-- <span class="fw-bold">$67.00</span> -->
                                   </a>
                              </div>
                              <!-- text -->
                              <p>
                                   <small>
                                        By placing your order, you agree to be bound by the Freshcart
                                        <a href="#!">Terms of Service</a>
                                        and
                                        <a href="#!">Privacy Policy.</a>
                                   </small>
                              </p>
                         </div>
                    </div>
               </div>
          </div>
     </div>
     <script>
          function getCookie(name) {
               var name = name + "=";
               var decodedCookie = decodeURIComponent(document.cookie);
               var ca = decodedCookie.split(';');
               for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') {
                         c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                         return c.substring(name.length, c.length);
                    }
               }
               return "";
          }
          if (getCookie('userid') === undefined) {
               window.location.href = "/shop/login"
          }
     </script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
          integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
          crossorigin="anonymous" referrerpolicy="no-referrer"></script>
     <script>
          $(document).ready(function () {
               console.log("Jquery working ");
               $(".minus_quantity").click(function () {
                    console.log("-");
                    console.log($(this).attr('id'));
                    let id = $(this).attr('id');
                    if ($("#quantity" + id).val() > 1) {
                         $("#quantity" + id).val($("#quantity" + id).val() - 1);
                         $.get("http://127.0.0.1:8080/shop/minus_quantity/" + id)
                         let total = $("#subtotal").html();
                         $("#subtotal").html(parseInt(total) - parseInt($("#quantity" + id).attr('data-price')));
                         console.log(total);

                    }
               });
               $(".plus_quantity").click(function () {
                    console.log("+");
                    console.log($(this).attr('id'));
                    let id = $(this).attr('id');
                    $("#quantity" + id).val(parseInt($("#quantity" + id).val()) + 1);
                    $.get("http://127.0.0.1:8080/shop/plus_quantity/" + id)
                    let total = $("#subtotal").html();
                    $("#subtotal").html(parseInt($("#quantity" + id).attr('data-price')) + parseInt(total));
                    console.log(total);
               });
               $(".remove").click(function () {
                    console.log("remove button clicked ");
                    console.log($(this).attr("data-id"));
                    let confirmation = confirm("are your do you really want to remove product ");
                    if (confirmation) {
                         let id = $(this).attr("data-id");
                         $.get("http://127.0.0.1:8080/shop/remove_from_cart/" + id).then(function () {
                              window.location.href = `http://127.0.0.1:8080/shop/add_to_cart`;
                         });
                    }
               });
          })
     </script>
</section>
{% endblock %}