{% extends 'template.html' %}
{% block content %}
<div class="container">
     <div class="row">
          <div class="col-6 offset-3">
               <div class="card my-5 p-5">
                    <h2>
                         Change Password
                    </h2>
                    <div class="row">
                         <form action="update_password" method="post">
                              {% csrf_token %}
                              <div class="col-12 mb-3">
                                   <div class="form-group">
                                        <label for="" class="form-label">Old Password</label>
                                        <input type="password" name="oldpassword" class="form-control"
                                             placeholder="Old Password goes here ">
                                        <input type="hidden" id="userid" name="userid">
                                   </div>
                              </div>
                              <div class="col-12 mb-3">
                                   <div class="form-group">
                                        <label for="" class="form-label">New Password</label>
                                        <input type="password" name="newpassword" class="form-control"
                                             placeholder="New Password goes here ">
                                   </div>
                              </div>
                              <div class="col-12 mb-3">
                                   <div class="form-group">
                                        <label for="" class="form-label">Re-Enter New Password</label>
                                        <input type="password" name="confirmpassword" class="form-control"
                                             placeholder="Re-Enter new Password ">
                                   </div>
                              </div>
                              <div class="col-12 text-end">
                                   <button type="submit" class="btn btn-primary">Save Changes </button>
                              </div>
                         </form>
                    </div>
               </div>
          </div>
     </div>
     <script>
          function getCookie(name) {
               var name = name + "=";
               var decodedCookie = decodeURIComponent(document.cookie);
               var ca = decodedCookie.split(';');
               for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') {
                         c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                         return c.substring(name.length, c.length);
                    }
               }
               return "";
          }
          document.getElementById('userid').value = getCookie('userid');
     </script>
</div>
{% endblock %}