{% extends 'template.html' %}
{% block content %}
<!-- section -->
<section class="mb-lg-14 mb-8 mt-8">
     <div class="container">
          <!-- row -->
          <div class="row">
               <!-- col -->
               <div class="col-12">
                    <div>
                         <div class="mb-8">
                              <!-- text -->
                              <h1 class="fw-bold mb-0">Checkout</h1>
                              <p class="mb-0">
                                   Already have an account? Click here to
                                   <a href="login">Sign in</a>
                                   .
                              </p>
                         </div>
                    </div>
               </div>
          </div>
          <div class="row">
               <div class="container">
                    <div class="row">
                         <div class="card my-5 p-5">
                              <h2 class="text-center mb-5">
                                   Checkout
                              </h2>
                              <div class="offset-lg-2 col-lg-8 col-12">
                                   <form class="row needs-validation" action="/shop/checkout/{{total}}" method="post">
                                        {% csrf_token %}
                                        <!-- input -->
                                        <div class="col-md-4 mb-3">
                                             <label class="form-label" for="contactFName">
                                                  Enter your City
                                                  <span class="text-danger">*</span>
                                             </label>
                                             <input type="text" id="contactFName" class="form-control" name="city"
                                                  placeholder="Enter Your city" required="">
                                             <div class="invalid-feedback">Please enter city.</div>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                             <!-- input -->
                                             <label class="form-label" for="contactLName">
                                                  Enter your state
                                                  <span class="text-danger">*</span>
                                             </label>
                                             <input type="text" id="contactFName" class="form-control" name="state"
                                                  placeholder="Enter Your state" required="">
                                             <div class="invalid-feedback">Please enter state.</div>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                             <!-- input -->
                                             <label class="form-label" for="contactLName">
                                                  Select Mode of Payment
                                                  <span class="text-danger">*</span>
                                             </label>
                                             <select class="form-select" name="mode_of_payment" id="">
                                                  <option value="1">Online Transfer</option>
                                                  <option value="0">Cash</option>
                                             </select>
                                        </div>
                                        <div class="col-md-12 mb-3">
                                             <label class="form-label" for="contactEmail">
                                                  Enter Your address
                                                  <span class="text-danger">*</span>
                                             </label>
                                             <textarea name="address" id="" class="form-control" cols="30"
                                                  rows="2"></textarea>
                                        </div>
                                        <div class="col-md-12 mb-3">
                                             <label class="form-label" for="contactEmail">
                                                  Enter Your Description
                                                  <span class="text-danger">*</span>
                                             </label>
                                             <textarea name="description" id="" class="form-control" cols="30"
                                                  rows="2"></textarea>
                                        </div>

                                        <div class="col-12 text-center">
                                             <button type="submit" class="btn btn-primary">Place Order </button>
                                        </div>
                                   </form>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</section>
{% endblock %}