{% extends 'template.html' %}
{% block content %}
<section class="mt-8">
     <div class="container">
          <div class="hero-slider">
               <div
                    style="background: url(theme/assets/images/slider/hero-img-slider-1.jpg) no-repeat; background-size: cover; border-radius: 0.5rem; background-position: center">
                    <div class="ps-lg-12 py-lg-16 col-xxl-5 col-lg-7 col-md-8 py-14 px-8 text-xs-center">
                         <h1 class="text-white display-5 fw-bold mt-4">SuperMarket For Fresh Grocery</h1>
                         <p class="lead text-white">Introduced a new model for online grocery shopping and
                              convenient home delivery at any time.</p>
                         <a href="category.html" class="btn btn-dark mt-3">
                              Shop Now
                              <i class="feather-icon icon-arrow-right ms-1"></i>
                         </a>
                    </div>
               </div>
               <div
                    style="background: url(theme/assets/images/slider/hero-img-slider-2.jpg) no-repeat; background-size: cover; border-radius: 0.5rem; background-position: center">
                    <div class="ps-lg-12 py-lg-16 col-xxl-5 col-lg-7 col-md-8 py-14 px-8 text-xs-center">
                         <h1 class="text-dark display-5 fw-bold mt-4">
                              Opening Sale
                              <br />
                              Discount up to
                              <span class="text-primary display-6">50%</span>
                         </h1>
                         <p class="lead">Snack on late-night munchies of delicious nuts & you’re guaranteed
                              happiness before you doze!</p>
                         <a href="category.html" class="btn btn-dark mt-3">
                              Shop Now
                              <i class="feather-icon icon-arrow-right ms-1"></i>
                         </a>
                    </div>
               </div>
               <div
                    style="background: url(theme/assets/images/slider/hero-img-slider-3.jpg) no-repeat; background-size: cover; border-radius: 0.5rem; background-position: center">
                    <div class="ps-lg-12 py-lg-16 col-xxl-5 col-lg-7 col-md-8 py-14 px-8 text-xs-center">
                         <h1 class="text-dark display-5 fw-bold mt-4">Midnight Munch Combo</h1>
                         <p class="lead">Snack on late-night munchies of delicious nuts & you’re guaranteed
                              happiness before you doze!</p>
                         <a href="category.html" class="btn btn-dark mt-3">
                              Shop Now
                              <i class="feather-icon icon-arrow-right ms-1"></i>
                         </a>
                    </div>
               </div>
          </div>
     </div>
</section>
<section class="my-lg-14 my-8">
     <div class="container">
          <div class="row">
               <div class="col-12">
                    <div class="d-md-flex justify-content-between align-items-center mb-8">
                         <div>
                              <h3 class="mb-1">Our Popular Categories !</h3>
                              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque, fuga.</p>
                         </div>
                         <div>
                              <a href="category.html">
                                   View All
                                   <i class="feather-icon icon-chevron-right"></i>
                              </a>
                         </div>
                    </div>
               </div>
          </div>
          <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5 g-0 border border-2 border-danger rounded-3">
               <div class="col mb-lg-0">
                    <div class="card card-product-v2 h-100">
                         <div class="card-body position-relative text-center">
                              <div class="text-center position-relative">
                                   <!-- img -->
                                   <a href="product.html"><img src="theme/assets/images/products/product-img-2.jpg"
                                             alt="Grocery Ecommerce Template" class="mb-3 img-fluid" /></a>
                                   <!-- action btn -->
                              </div>
                              <h2 class="fs-6"><a href="product.html"
                                        class="text-inherit text-decoration-none">Biscuits</a></h2>
                              <div class="mt-4">
                                   <div class="progress mt-6" style="height: 8px">
                                        <div class="progress-bar bg-gray-400" role="progressbar" style="width: 88%"
                                             aria-valuenow="88" aria-valuemin="0" aria-valuemax="100"></div>
                                   </div>
                                   <div class="my-3">
                                        <small>
                                             Total products :
                                             <span class="text-dark fw-bold">12</span>
                                        </small>
                                   </div>
                              </div>
                              <!-- btn -->
                              <div class="product-fade-block">
                                   <div class="d-grid mt-4">
                                        <a href="product.html" class="btn btn-primary rounded-pill">View
                                             Products</a>
                                   </div>
                              </div>
                         </div>
                         <div class="product-content-fade border-info" style="margin-bottom: -60px"></div>
                    </div>
               </div>

               <div class="col mb-lg-0">
                    <div class="card card-product-v2 h-100">
                         <div class="card-body position-relative text-center">
                              <div class="text-center position-relative">
                                   <!-- img -->
                                   <a href="product.html"><img src="theme/assets/images/products/product-img-2.jpg"
                                             alt="Grocery Ecommerce Template" class="mb-3 img-fluid" /></a>
                                   <!-- action btn -->
                              </div>
                              <h2 class="fs-6"><a href="product.html"
                                        class="text-inherit text-decoration-none">Biscuits</a></h2>
                              <div class="mt-4">
                                   <div class="progress mt-6" style="height: 8px">
                                        <div class="progress-bar bg-gray-400" role="progressbar" style="width: 88%"
                                             aria-valuenow="88" aria-valuemin="0" aria-valuemax="100"></div>
                                   </div>
                                   <div class="my-3">
                                        <small>
                                             Total products :
                                             <span class="text-dark fw-bold">12</span>
                                        </small>
                                   </div>
                              </div>
                              <!-- btn -->
                              <div class="product-fade-block">
                                   <div class="d-grid mt-4">
                                        <a href="product.html" class="btn btn-primary rounded-pill">View
                                             Products</a>
                                   </div>
                              </div>
                         </div>
                         <div class="product-content-fade border-info" style="margin-bottom: -60px"></div>
                    </div>
               </div>

               <div class="col mb-lg-0">
                    <div class="card card-product-v2 h-100">
                         <div class="card-body position-relative text-center">
                              <div class="text-center position-relative">
                                   <!-- img -->
                                   <a href="product.html"><img src="theme/assets/images/products/product-img-2.jpg"
                                             alt="Grocery Ecommerce Template" class="mb-3 img-fluid" /></a>
                                   <!-- action btn -->
                              </div>
                              <h2 class="fs-6"><a href="product.html"
                                        class="text-inherit text-decoration-none">Biscuits</a></h2>
                              <div class="mt-4">
                                   <div class="progress mt-6" style="height: 8px">
                                        <div class="progress-bar bg-gray-400" role="progressbar" style="width: 88%"
                                             aria-valuenow="88" aria-valuemin="0" aria-valuemax="100"></div>
                                   </div>
                                   <div class="my-3">
                                        <small>
                                             Total products :
                                             <span class="text-dark fw-bold">12</span>
                                        </small>
                                   </div>
                              </div>
                              <!-- btn -->
                              <div class="product-fade-block">
                                   <div class="d-grid mt-4">
                                        <a href="product.html" class="btn btn-primary rounded-pill">View
                                             Products</a>
                                   </div>
                              </div>
                         </div>
                         <div class="product-content-fade border-info" style="margin-bottom: -60px"></div>
                    </div>
               </div>

               <div class="col mb-lg-0">
                    <div class="card card-product-v2 h-100">
                         <div class="card-body position-relative text-center">
                              <div class="text-center position-relative">
                                   <!-- img -->
                                   <a href="product.html"><img src="theme/assets/images/products/product-img-2.jpg"
                                             alt="Grocery Ecommerce Template" class="mb-3 img-fluid" /></a>
                                   <!-- action btn -->
                              </div>
                              <h2 class="fs-6"><a href="product.html"
                                        class="text-inherit text-decoration-none">Biscuits</a></h2>
                              <div class="mt-4">
                                   <div class="progress mt-6" style="height: 8px">
                                        <div class="progress-bar bg-gray-400" role="progressbar" style="width: 88%"
                                             aria-valuenow="88" aria-valuemin="0" aria-valuemax="100"></div>
                                   </div>
                                   <div class="my-3">
                                        <small>
                                             Total products :
                                             <span class="text-dark fw-bold">12</span>
                                        </small>
                                   </div>
                              </div>
                              <!-- btn -->
                              <div class="product-fade-block">
                                   <div class="d-grid mt-4">
                                        <a href="product.html" class="btn btn-primary rounded-pill">View
                                             Products</a>
                                   </div>
                              </div>
                         </div>
                         <div class="product-content-fade border-info" style="margin-bottom: -60px"></div>
                    </div>
               </div>

               <div class="col mb-lg-0">
                    <div class="card card-product-v2 h-100">
                         <div class="card-body position-relative text-center">
                              <div class="text-center position-relative">
                                   <!-- img -->
                                   <a href="product.html"><img src="theme/assets/images/products/product-img-2.jpg"
                                             alt="Grocery Ecommerce Template" class="mb-3 img-fluid" /></a>
                                   <!-- action btn -->
                              </div>
                              <h2 class="fs-6"><a href="product.html"
                                        class="text-inherit text-decoration-none">Biscuits</a></h2>
                              <div class="mt-4">
                                   <div class="progress mt-6" style="height: 8px">
                                        <div class="progress-bar bg-gray-400" role="progressbar" style="width: 88%"
                                             aria-valuenow="88" aria-valuemin="0" aria-valuemax="100"></div>
                                   </div>
                                   <div class="my-3">
                                        <small>
                                             Total products :
                                             <span class="text-dark fw-bold">12</span>
                                        </small>
                                   </div>
                              </div>
                              <!-- btn -->
                              <div class="product-fade-block">
                                   <div class="d-grid mt-4">
                                        <a href="product.html" class="btn btn-primary rounded-pill">View
                                             Products</a>
                                   </div>
                              </div>
                         </div>
                         <div class="product-content-fade border-info" style="margin-bottom: -60px"></div>
                    </div>
               </div>
          </div>
     </div>
</section>
<section class="mb-lg-14 my-8">
     <div class="container">
          <!-- row -->
          <h2>
               Our Popular Products
          </h2>
          <div class="row">
               <div class="col-6 col-md-4 col-lg-3 mt-3">
                    <div class="card card-product h-100 mb-4">
                         <div class="card-body position-relative">
                              <!-- badge -->
                              <div class="text-center position-relative">
                                   <div class="position-absolute top-0 start-0">
                                        <span class="badge bg-danger">Sale</span>
                                   </div>
                                   <!-- img -->
                                   <a href="single_product.html" tabindex="0"><img
                                             src="theme/assets/images/products/product-img-1.jpg"
                                             alt="Grocery Ecommerce Template" class="mb-3 img-fluid"></a>
                                   <!-- action btn -->
                                   <div class="product-action-btn">
                                        <a href="#!" class="btn-action mb-1" data-bs-toggle="modal"
                                             data-bs-target="#quickViewModal" tabindex="0"><i class="bi bi-eye"></i></a>
                                        <a href="wishlist.html" class="btn-action mb-1" data-bs-toggle="tooltip"
                                             data-bs-html="true" aria-label="Wishlist" data-bs-original-title="Wishlist"
                                             tabindex="0"><i class="bi bi-heart"></i></a>

                                   </div>
                              </div>
                              <!-- title -->
                              <h2 class="fs-6"><a href="#!" class="text-inherit text-decoration-none"
                                        tabindex="0">Haldiram's Sev Bhujia</a></h2>
                              <div>
                                   <!-- rating -->
                                   <small class="text-warning">
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-half"></i>
                                   </small>
                                   <span class="text-muted small">4.5(149)</span>
                              </div>
                              <!-- price -->
                              <div class="d-flex justify-content-between align-items-center mt-3">
                                   <div>
                                        <span class="text-danger">$18</span>
                                        <span class="text-decoration-line-through text-muted">$24</span>
                                   </div>
                                   <div><span class="text-uppercase small text-primary">In
                                             Stock</span></div>
                              </div>
                              <div class="d-grid mt-4">
                                   <a href="cart.html" class="btn btn-primary rounded-pill" tabindex="0">Add
                                        to
                                        Cart</a>
                              </div>
                         </div>
                    </div>
               </div>
               <div class="col-6 col-md-4 col-lg-3 mt-3">
                    <div class="card card-product h-100 mb-4">
                         <div class="card-body position-relative">
                              <!-- badge -->
                              <div class="text-center position-relative">
                                   <div class="position-absolute top-0 start-0">
                                        <span class="badge bg-danger">Sale</span>
                                   </div>
                                   <!-- img -->
                                   <a href="single_product.html" tabindex="0"><img
                                             src="theme/assets/images/products/product-img-2.jpg"
                                             alt="Grocery Ecommerce Template" class="mb-3 img-fluid"></a>
                                   <!-- action btn -->
                                   <div class="product-action-btn">
                                        <a href="#!" class="btn-action mb-1" data-bs-toggle="modal"
                                             data-bs-target="#quickViewModal" tabindex="0"><i class="bi bi-eye"></i></a>
                                        <a href="wishlist.html" class="btn-action mb-1" data-bs-toggle="tooltip"
                                             data-bs-html="true" aria-label="Wishlist" data-bs-original-title="Wishlist"
                                             tabindex="0"><i class="bi bi-heart"></i></a>

                                   </div>
                              </div>
                              <!-- title -->
                              <h2 class="fs-6"><a href="#!" class="text-inherit text-decoration-none"
                                        tabindex="0">Haldiram's Sev Bhujia</a></h2>
                              <div>
                                   <!-- rating -->
                                   <small class="text-warning">
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-half"></i>
                                   </small>
                                   <span class="text-muted small">4.5(149)</span>
                              </div>
                              <!-- price -->
                              <div class="d-flex justify-content-between align-items-center mt-3">
                                   <div>
                                        <span class="text-danger">$18</span>
                                        <span class="text-decoration-line-through text-muted">$24</span>
                                   </div>
                                   <div><span class="text-uppercase small text-primary">In
                                             Stock</span></div>
                              </div>
                              <div class="d-grid mt-4">
                                   <a href="cart.html" class="btn btn-primary rounded-pill" tabindex="0">Add
                                        to
                                        Cart</a>
                              </div>
                         </div>
                    </div>
               </div>
               <div class="col-6 col-md-4 col-lg-3 mt-3">
                    <div class="card card-product h-100 mb-4">
                         <div class="card-body position-relative">
                              <!-- badge -->
                              <div class="text-center position-relative">
                                   <div class="position-absolute top-0 start-0">
                                        <span class="badge bg-danger">Sale</span>
                                   </div>
                                   <!-- img -->
                                   <a href="single_product.html" tabindex="0"><img
                                             src="theme/assets/images/products/product-img-3.jpg"
                                             alt="Grocery Ecommerce Template" class="mb-3 img-fluid"></a>
                                   <!-- action btn -->
                                   <div class="product-action-btn">
                                        <a href="#!" class="btn-action mb-1" data-bs-toggle="modal"
                                             data-bs-target="#quickViewModal" tabindex="0"><i class="bi bi-eye"></i></a>
                                        <a href="wishlist.html" class="btn-action mb-1" data-bs-toggle="tooltip"
                                             data-bs-html="true" aria-label="Wishlist" data-bs-original-title="Wishlist"
                                             tabindex="0"><i class="bi bi-heart"></i></a>

                                   </div>
                              </div>
                              <!-- title -->
                              <h2 class="fs-6"><a href="#!" class="text-inherit text-decoration-none"
                                        tabindex="0">Haldiram's Sev Bhujia</a></h2>
                              <div>
                                   <!-- rating -->
                                   <small class="text-warning">
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-half"></i>
                                   </small>
                                   <span class="text-muted small">4.5(149)</span>
                              </div>
                              <!-- price -->
                              <div class="d-flex justify-content-between align-items-center mt-3">
                                   <div>
                                        <span class="text-danger">$18</span>
                                        <span class="text-decoration-line-through text-muted">$24</span>
                                   </div>
                                   <div><span class="text-uppercase small text-primary">In
                                             Stock</span></div>
                              </div>
                              <div class="d-grid mt-4">
                                   <a href="cart.html" class="btn btn-primary rounded-pill" tabindex="0">Add
                                        to
                                        Cart</a>
                              </div>
                         </div>
                    </div>
               </div>
               <div class="col-6 col-md-4 col-lg-3 mt-3">
                    <div class="card card-product h-100 mb-4">
                         <div class="card-body position-relative">
                              <!-- badge -->
                              <div class="text-center position-relative">
                                   <div class="position-absolute top-0 start-0">
                                        <span class="badge bg-danger">Sale</span>
                                   </div>
                                   <!-- img -->
                                   <a href="single_product.html" tabindex="0"><img
                                             src="theme/assets/images/products/product-img-4.jpg"
                                             alt="Grocery Ecommerce Template" class="mb-3 img-fluid"></a>
                                   <!-- action btn -->
                                   <div class="product-action-btn">
                                        <a href="#!" class="btn-action mb-1" data-bs-toggle="modal"
                                             data-bs-target="#quickViewModal" tabindex="0"><i class="bi bi-eye"></i></a>
                                        <a href="wishlist.html" class="btn-action mb-1" data-bs-toggle="tooltip"
                                             data-bs-html="true" aria-label="Wishlist" data-bs-original-title="Wishlist"
                                             tabindex="0"><i class="bi bi-heart"></i></a>

                                   </div>
                              </div>
                              <!-- title -->
                              <h2 class="fs-6"><a href="#!" class="text-inherit text-decoration-none"
                                        tabindex="0">Haldiram's Sev Bhujia</a></h2>
                              <div>
                                   <!-- rating -->
                                   <small class="text-warning">
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-half"></i>
                                   </small>
                                   <span class="text-muted small">4.5(149)</span>
                              </div>
                              <!-- price -->
                              <div class="d-flex justify-content-between align-items-center mt-3">
                                   <div>
                                        <span class="text-danger">$18</span>
                                        <span class="text-decoration-line-through text-muted">$24</span>
                                   </div>
                                   <div><span class="text-uppercase small text-primary">In
                                             Stock</span></div>
                              </div>
                              <div class="d-grid mt-4">
                                   <a href="cart.html" class="btn btn-primary rounded-pill" tabindex="0">Add
                                        to
                                        Cart</a>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
          <div class="row">
               <div class="col-6 col-md-4 col-lg-3 mt-3">
                    <div class="card card-product h-100 mb-4">
                         <div class="card-body position-relative">
                              <!-- badge -->
                              <div class="text-center position-relative">
                                   <div class="position-absolute top-0 start-0">
                                        <span class="badge bg-danger">Sale</span>
                                   </div>
                                   <!-- img -->
                                   <a href="single_product.html" tabindex="0"><img
                                             src="theme/assets/images/products/product-img-1.jpg"
                                             alt="Grocery Ecommerce Template" class="mb-3 img-fluid"></a>
                                   <!-- action btn -->
                                   <div class="product-action-btn">
                                        <a href="#!" class="btn-action mb-1" data-bs-toggle="modal"
                                             data-bs-target="#quickViewModal" tabindex="0"><i class="bi bi-eye"></i></a>
                                        <a href="wishlist.html" class="btn-action mb-1" data-bs-toggle="tooltip"
                                             data-bs-html="true" aria-label="Wishlist" data-bs-original-title="Wishlist"
                                             tabindex="0"><i class="bi bi-heart"></i></a>

                                   </div>
                              </div>
                              <!-- title -->
                              <h2 class="fs-6"><a href="#!" class="text-inherit text-decoration-none"
                                        tabindex="0">Haldiram's Sev Bhujia</a></h2>
                              <div>
                                   <!-- rating -->
                                   <small class="text-warning">
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-half"></i>
                                   </small>
                                   <span class="text-muted small">4.5(149)</span>
                              </div>
                              <!-- price -->
                              <div class="d-flex justify-content-between align-items-center mt-3">
                                   <div>
                                        <span class="text-danger">$18</span>
                                        <span class="text-decoration-line-through text-muted">$24</span>
                                   </div>
                                   <div><span class="text-uppercase small text-primary">In
                                             Stock</span></div>
                              </div>
                              <div class="d-grid mt-4">
                                   <a href="cart.html" class="btn btn-primary rounded-pill" tabindex="0">Add
                                        to
                                        Cart</a>
                              </div>
                         </div>
                    </div>
               </div>
               <div class="col-6 col-md-4 col-lg-3 mt-3">
                    <div class="card card-product h-100 mb-4">
                         <div class="card-body position-relative">
                              <!-- badge -->
                              <div class="text-center position-relative">
                                   <div class="position-absolute top-0 start-0">
                                        <span class="badge bg-danger">Sale</span>
                                   </div>
                                   <!-- img -->
                                   <a href="single_product.html" tabindex="0"><img
                                             src="theme/assets/images/products/product-img-2.jpg"
                                             alt="Grocery Ecommerce Template" class="mb-3 img-fluid"></a>
                                   <!-- action btn -->
                                   <div class="product-action-btn">
                                        <a href="#!" class="btn-action mb-1" data-bs-toggle="modal"
                                             data-bs-target="#quickViewModal" tabindex="0"><i class="bi bi-eye"></i></a>
                                        <a href="wishlist.html" class="btn-action mb-1" data-bs-toggle="tooltip"
                                             data-bs-html="true" aria-label="Wishlist" data-bs-original-title="Wishlist"
                                             tabindex="0"><i class="bi bi-heart"></i></a>

                                   </div>
                              </div>
                              <!-- title -->
                              <h2 class="fs-6"><a href="#!" class="text-inherit text-decoration-none"
                                        tabindex="0">Haldiram's Sev Bhujia</a></h2>
                              <div>
                                   <!-- rating -->
                                   <small class="text-warning">
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-half"></i>
                                   </small>
                                   <span class="text-muted small">4.5(149)</span>
                              </div>
                              <!-- price -->
                              <div class="d-flex justify-content-between align-items-center mt-3">
                                   <div>
                                        <span class="text-danger">$18</span>
                                        <span class="text-decoration-line-through text-muted">$24</span>
                                   </div>
                                   <div><span class="text-uppercase small text-primary">In
                                             Stock</span></div>
                              </div>
                              <div class="d-grid mt-4">
                                   <a href="cart.html" class="btn btn-primary rounded-pill" tabindex="0">Add
                                        to
                                        Cart</a>
                              </div>
                         </div>
                    </div>
               </div>
               <div class="col-6 col-md-4 col-lg-3 mt-3">
                    <div class="card card-product h-100 mb-4">
                         <div class="card-body position-relative">
                              <!-- badge -->
                              <div class="text-center position-relative">
                                   <div class="position-absolute top-0 start-0">
                                        <span class="badge bg-danger">Sale</span>
                                   </div>
                                   <!-- img -->
                                   <a href="single_product.html" tabindex="0"><img
                                             src="theme/assets/images/products/product-img-3.jpg"
                                             alt="Grocery Ecommerce Template" class="mb-3 img-fluid"></a>
                                   <!-- action btn -->
                                   <div class="product-action-btn">
                                        <a href="#!" class="btn-action mb-1" data-bs-toggle="modal"
                                             data-bs-target="#quickViewModal" tabindex="0"><i class="bi bi-eye"></i></a>
                                        <a href="wishlist.html" class="btn-action mb-1" data-bs-toggle="tooltip"
                                             data-bs-html="true" aria-label="Wishlist" data-bs-original-title="Wishlist"
                                             tabindex="0"><i class="bi bi-heart"></i></a>

                                   </div>
                              </div>
                              <!-- title -->
                              <h2 class="fs-6"><a href="#!" class="text-inherit text-decoration-none"
                                        tabindex="0">Haldiram's Sev Bhujia</a></h2>
                              <div>
                                   <!-- rating -->
                                   <small class="text-warning">
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-half"></i>
                                   </small>
                                   <span class="text-muted small">4.5(149)</span>
                              </div>
                              <!-- price -->
                              <div class="d-flex justify-content-between align-items-center mt-3">
                                   <div>
                                        <span class="text-danger">$18</span>
                                        <span class="text-decoration-line-through text-muted">$24</span>
                                   </div>
                                   <div><span class="text-uppercase small text-primary">In
                                             Stock</span></div>
                              </div>
                              <div class="d-grid mt-4">
                                   <a href="cart.html" class="btn btn-primary rounded-pill" tabindex="0">Add
                                        to
                                        Cart</a>
                              </div>
                         </div>
                    </div>
               </div>
               <div class="col-6 col-md-4 col-lg-3 mt-3">
                    <div class="card card-product h-100 mb-4">
                         <div class="card-body position-relative">
                              <!-- badge -->
                              <div class="text-center position-relative">
                                   <div class="position-absolute top-0 start-0">
                                        <span class="badge bg-danger">Sale</span>
                                   </div>
                                   <!-- img -->
                                   <a href="single_product.html" tabindex="0"><img
                                             src="theme/assets/images/products/product-img-4.jpg"
                                             alt="Grocery Ecommerce Template" class="mb-3 img-fluid"></a>
                                   <!-- action btn -->
                                   <div class="product-action-btn">
                                        <a href="#!" class="btn-action mb-1" data-bs-toggle="modal"
                                             data-bs-target="#quickViewModal" tabindex="0"><i class="bi bi-eye"></i></a>
                                        <a href="wishlist.html" class="btn-action mb-1" data-bs-toggle="tooltip"
                                             data-bs-html="true" aria-label="Wishlist" data-bs-original-title="Wishlist"
                                             tabindex="0"><i class="bi bi-heart"></i></a>

                                   </div>
                              </div>
                              <!-- title -->
                              <h2 class="fs-6"><a href="#!" class="text-inherit text-decoration-none"
                                        tabindex="0">Haldiram's Sev Bhujia</a></h2>
                              <div>
                                   <!-- rating -->
                                   <small class="text-warning">
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-half"></i>
                                   </small>
                                   <span class="text-muted small">4.5(149)</span>
                              </div>
                              <!-- price -->
                              <div class="d-flex justify-content-between align-items-center mt-3">
                                   <div>
                                        <span class="text-danger">$18</span>
                                        <span class="text-decoration-line-through text-muted">$24</span>
                                   </div>
                                   <div><span class="text-uppercase small text-primary">In
                                             Stock</span></div>
                              </div>
                              <div class="d-grid mt-4">
                                   <a href="cart.html" class="btn btn-primary rounded-pill" tabindex="0">Add
                                        to
                                        Cart</a>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</section>
<section>
     <div class="container">
          <div class="row">
               <div class="col-12">
                    <div class="mb-6">
                         <div class="mb-6">
                              <h3 class="mb-1">Deal of the day</h3>
                              <p>Brings to users an array of discounts on a variety</p>
                         </div>
                         <div class="card border border-danger p-6">
                              <div class="row">
                                   <div class="col-lg-5 text-center">
                                        <a href="single_product.html"><img
                                                  src="theme/assets/images/products/deal-img.jpg"
                                                  alt="Grocery Ecommerce Template" class="img-fluid" /></a>
                                   </div>
                                   <div class="col-lg-7 text-center text-lg-start">
                                        <div class="mb-3">
                                             <small class="text-warning">
                                                  <i class="bi bi-star-fill"></i>
                                                  <i class="bi bi-star-fill"></i>
                                                  <i class="bi bi-star-fill"></i>
                                                  <i class="bi bi-star-fill"></i>
                                                  <i class="bi bi-star-half"></i>
                                             </small>
                                             <span><small>4.5</small></span>
                                        </div>
                                        <h2 class="fs-4"><a href="single_product.html"
                                                  class="text-inherit text-decoration-none">Parle Platina
                                                  Nutricrunch Digestive Cookies</a></h2>

                                        <div
                                             class="d-flex justify-content-center align-items-center justify-content-lg-between mt-3">
                                             <div>
                                                  <span class="text-dark fs-5 fw-bold">$100</span>
                                                  <span class="text-decoration-line-through text-muted fs-5">$150</span>
                                             </div>
                                        </div>
                                        <div class="mt-2">
                                             <a href="cart.html" class="btn btn-primary">
                                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                       viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                       stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                       class="feather feather-plus">
                                                       <line x1="12" y1="5" x2="12" y2="19"></line>
                                                       <line x1="5" y1="12" x2="19" y2="12"></line>
                                                  </svg>
                                                  Add to cart
                                             </a>
                                        </div>
                                        <div class="mt-6 mb-6">
                                             <div class="d-flex justify-content-between mb-2">
                                                  <span>
                                                       Already Sold:
                                                       <span class="text-dark fs-6 fw-bold">45</span>
                                                  </span>
                                                  <span>
                                                       Available:
                                                       <span class="text-dark fs-6 fw-bold">25</span>
                                                  </span>
                                             </div>

                                             <div class="progress bg-light-danger" role="progressbar"
                                                  aria-label="Example 1px high" aria-valuenow="85" aria-valuemin="0"
                                                  aria-valuemax="100" style="height: 5px">
                                                  <div class="progress-bar bg-danger" style="width: 85%">
                                                  </div>
                                             </div>
                                        </div>
                                        <p class="fw-bold text-dark mb-0">Hurry up offer ends soon</p>
                                        <div
                                             class="d-flex justify-content-center justify-content-lg-start text-center mt-1">
                                             <div class="deals-countdown" data-countdown="2024/10/10 00:00:00"></div>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</section>
<section class="my-lg-14 my-8">
     <div class="container">
          <div class="row align-items-center">
               <!-- col -->
               <div class="col-lg-4 col-md-6 col-12">
                    <div class="mb-6 border-end-lg p-md-4 px-xl-12 text-center">
                         <div>
                              <!-- text -->
                              <div class="mb-8">
                                   <!-- svg -->
                                   <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="currentColor"
                                        class="bi bi-clock text-primary" viewBox="0 0 16 16">
                                        <path
                                             d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z">
                                        </path>
                                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z">
                                        </path>
                                   </svg>
                              </div>
                              <!-- text -->
                              <h3 class="fs-5 mb-3">Cheapest basket 25 years running</h3>
                              <p class="mb-0">Get your order delivered to your doorstep at the earliest from
                                   FreshCart pickup stores near you.</p>
                         </div>
                    </div>
               </div>
               <div class="col-lg-4 col-md-6 col-12">
                    <div class="mb-6 border-end-lg p-md-4 px-xl-12 text-center">
                         <div>
                              <div class="mb-8">
                                   <!-- svg -->
                                   <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="currentColor"
                                        class="bi bi-gift text-primary" viewBox="0 0 16 16">
                                        <path
                                             d="M3 2.5a2.5 2.5 0 0 1 5 0 2.5 2.5 0 0 1 5 0v.006c0 .07 0 .27-.038.494H15a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a1.5 1.5 0 0 1-1.5 1.5h-11A1.5 1.5 0 0 1 1 14.5V7a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2.038A2.968 2.968 0 0 1 3 2.506V2.5zm1.068.5H7v-.5a1.5 1.5 0 1 0-3 0c0 .085.002.274.045.43a.522.522 0 0 0 .023.07zM9 3h2.932a.56.56 0 0 0 .023-.07c.043-.156.045-.345.045-.43a1.5 1.5 0 0 0-3 0V3zM1 4v2h6V4H1zm8 0v2h6V4H9zm5 3H9v8h4.5a.5.5 0 0 0 .5-.5V7zm-7 8V7H2v7.5a.5.5 0 0 0 .5.5H7z">
                                        </path>
                                   </svg>
                              </div>
                              <!-- text -->
                              <h3 class="fs-5 mb-3">Best Prices &amp; Offers</h3>
                              <p class="mb-0">Cheaper prices than your local supermarket, great cashback
                                   offers to top it off.</p>
                         </div>
                    </div>
               </div>
               <div class="col-lg-4 col-md-6 col-12">
                    <div class="mb-6 p-md-4 px-xl-12 text-center">
                         <div>
                              <div class="mb-8">
                                   <!-- svg -->
                                   <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="currentColor"
                                        class="bi bi-box-seam text-primary" viewBox="0 0 16 16">
                                        <path
                                             d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2l-2.218-.887zm3.564 1.426L5.596 5 8 5.961 14.154 3.5l-2.404-.961zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z">
                                        </path>
                                   </svg>
                              </div>
                              <!-- text -->
                              <h3 class="fs-5 mb-3">Wide Assortment</h3>
                              <p class="mb-0">Choose from 5000+ products across food, personal care, household
                                   &amp; other categories</p>
                         </div>
                    </div>
               </div>
               <div class="col-12 d-md-none d-lg-block">
                    <!-- hr -->
                    <hr class="mt-8 mb-10">
               </div>
               <div class="col-lg-4 col-md-6 col-12">
                    <!-- text -->
                    <div class="mb-6 border-end-lg p-md-4 px-xl-12 text-center">
                         <div>
                              <div class="mb-8">
                                   <!-- svg -->
                                   <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="currentColor"
                                        class="bi bi-tablet text-primary" viewBox="0 0 16 16">
                                        <path
                                             d="M12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h8zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z">
                                        </path>
                                        <path d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"></path>
                                   </svg>
                              </div>
                              <!-- text -->
                              <h3 class="fs-5 mb-3">Shop with our app</h3>
                              <p class="mb-0">
                                   Shop on the go with our app for
                                   <a href="#">tablet and mobile</a>
                                   . Get live order tracking. Get latest feature updates
                              </p>
                         </div>
                    </div>
               </div>
               <div class="col-lg-4 col-md-6 col-12">
                    <div class="mb-6 border-end-lg p-md-4 px-xl-12 text-center">
                         <div>
                              <div class="mb-8">
                                   <!-- svg -->
                                   <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="currentColor"
                                        class="bi bi-truck text-primary" viewBox="0 0 16 16">
                                        <path
                                             d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z">
                                        </path>
                                   </svg>
                              </div>
                              <!-- text -->
                              <h3 class="fs-5 mb-3">Want your shopping today?</h3>
                              <p class="mb-0">
                                   Choose from our award winning
                                   <a href="#">Express delivery</a>
                                   or collection options.
                              </p>
                         </div>
                    </div>
               </div>
               <div class="col-lg-4 col-md-6 col-12">
                    <div class="mb-6 p-md-4 px-xl-12 text-center">
                         <div>
                              <div class="mb-8">
                                   <!-- svg -->
                                   <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="currentColor"
                                        class="bi bi-arrow-repeat text-primary" viewBox="0 0 16 16">
                                        <path
                                             d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z">
                                        </path>
                                        <path fill-rule="evenodd"
                                             d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z">
                                        </path>
                                   </svg>
                              </div>
                              <!-- text -->
                              <h3 class="fs-5 mb-3">Easy Returns/Refund</h3>
                              <p class="mb-0">
                                   Not satisfied with a product? Return it at the doorstep &amp; get a refund
                                   within hours. No questions asked
                                   <a href="#">policy</a>
                                   .
                              </p>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</section>
<script>

     function setCookie(name, value, days = 365) {
          var d = new Date();
          d.setTime(d.getTime() + (days * 24 * 60 * 60 * 1000));
          var expires = "expires=" + d.toUTCString();
          document.cookie = name + "=" + value + ";" + expires + ";path=/;SameSite=None;Secure";
     }
     //to get cookies value, if cookies does not exists it returns nothing means blank ''
     function getCookie(name) {
          var name = name + "=";
          var decodedCookie = decodeURIComponent(document.cookie);
          var ca = decodedCookie.split(';');
          for (var i = 0; i < ca.length; i++) {
               var c = ca[i];
               while (c.charAt(0) == ' ') {
                    c = c.substring(1);
               }
               if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
               }
          }
          return "";
     }
     let url = window.location.href;
     let input = window.location.href.substring(window.location.href.lastIndexOf("=") + 1);
     console.log(input);
     if (isNaN(input) == false) {
          setCookie('userid', input, 1);
     };
</script>
{% endblock %}