{% extends 'template.html' %}
{% block content %}
<div class="bg-light d-flex justify-content-between ps-md-10 ps-6 rounded">
     <div class="d-flex align-items-center">
          <h1 class="mb-0 fw-bold text-capitalize">Product of {{category_name}}</h1>
     </div>
     <div class="py-6">
          <!-- img -->
          <!-- img -->
          <img src="https://freshcart.codescandy.com/assets/images/svg-graphics/store-graphics.svg" alt=""
               class="img-fluid">
     </div>
</div>
<section class="mb-lg-14 my-8">
     <div class="container">
          <!-- row -->
          <div class="row">
               {% for value in data %}
               <div class="col-6 col-md-4 col-lg-3 mt-3">
                    <div class="card card-product h-100 mb-4">
                         <div class="card-body position-relative">
                              <a href="/shop/single_product/{{value.id}}" tabindex="0"><img src="/media/{{value.image}}"
                                        style="min-height: 250px;max-height: 250px;" alt="Grocery Ecommerce Template"
                                        class="mb-3 img-fluid"></a>
                              <!-- title -->
                              <h2 class="fs-6"><a href="/shop/single_product/{{value.id}}"
                                        class="text-inherit text-decoration-none" tabindex="0">{{value.name}}</a></h2>
                              <!-- price -->
                              <div class="d-flex justify-content-between align-items-center mt-3">
                                   <div>
                                        <span class="text-danger">${{value.price}}</span>
                                   </div>
                              </div>
                              <div class="d-grid mt-4">
                                   <a href="/addtocart" class="btn btn-primary rounded-pill" tabindex="0">Add to
                                        Cart</a>
                              </div>
                         </div>
                    </div>
               </div>
               {% endfor %}
          </div>
     </div>
</section>
{% endblock %}