{% extends 'template.html' %}
{% block content %}
<section class="mt-8 mb-14">
     <div class="container">
          <!-- row -->
          <div class="row">
               <div class="col-lg-12">
                    <div class="mb-8">
                         <!-- heading -->
                         <h1 class="mb-1">My Wishlist</h1>
                    </div>
                    <div>
                         <!-- table -->
                         <div class="table-responsive">
                              <table class="table text-nowrap table-with-checkbox">
                                   <thead class="table-light">
                                        <tr>
                                             <th></th>
                                             <th>Product</th>
                                             <th>Amount</th>
                                             <th>Actions</th>
                                             <th>Remove</th>
                                        </tr>
                                   </thead>
                                   <tbody>
                                        {% for value in merge_data %}
                                        <tr>
                                             <td class="align-middle">
                                                  <a href="single_product.html"><img
                                                            src="/media/{{value.product_image}}"
                                                            class="icon-shape icon-xxl" alt=""></a>
                                             </td>
                                             <td class="align-middle">
                                                  <div>
                                                       <h5 class="fs-6 mb-0"><a href="single_product.html"
                                                                 class="text-inherit">{{value.product_name}}</a></h5>
                                                  </div>
                                             </td>
                                             <td class="align-middle">${{value.price}}</td>

                                             <td class="align-middle">
                                                  <a href='/shop/add_product_to_cart/{{value.id}}/{{value.price}}'
                                                       class="btn btn-primary btn-sm">Add to
                                                       Cart</a>
                                             </td>
                                             <td class="align-middle">
                                                  <button href="single_product.html" class="btn btn-primary remove"
                                                       data-id="{{value.id}}" data-bs-toggle="tooltip"
                                                       data-bs-placement="top" aria-label="Delete"
                                                       data-bs-original-title="Delete">
                                                       Delete
                                                  </button>
                                             </td>
                                        </tr>
                                        {% endfor %}
                                   </tbody>
                              </table>
                         </div>
                    </div>
               </div>
          </div>

          <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
               integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
               crossorigin="anonymous" referrerpolicy="no-referrer"></script>
          <script>
               $(document).ready(function () {
                    console.log("Jquery working ");
                    $(".remove").click(function () {
                         console.log("remove button clicked ");
                         console.log($(this).attr("data-id"));
                         let confirmation = confirm("are your do you really want to remove product ");
                         if (confirmation) {
                              let id = $(this).attr("data-id");
                              $.get("http://127.0.0.1:8080/shop/remove_from_wishlist/" + id).then(function () {
                                   window.location.href = `http://127.0.0.1:8080/shop/view_wishlist`;
                              });
                         }
                    });
               })
          </script>
     </div>
</section>
{% endblock %}